<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamboo.boa.mapper.BoaEmpFeedbackMapper">
    
    <resultMap type="BoaEmpFeedbackDO" id="BoaEmpFeedbackResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="category"    column="category"    />
        <result property="feedbackText"    column="feedback_text"    />
        <result property="satisfaction"    column="satisfaction"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectBoaEmpFeedbackVo">
        select id, user_id, create_time, update_time, category, feedback_text, satisfaction, is_deleted from boa_emp_feedback
    </sql>

    <select id="selectBoaEmpFeedbackList" parameterType="BoaEmpFeedbackDO" resultMap="BoaEmpFeedbackResult">
        <include refid="selectBoaEmpFeedbackVo"/>
        <where>
            and is_deleted=0
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="feedbackText != null  and feedbackText != ''"> and feedback_text = #{feedbackText}</if>
            <if test="satisfaction != null "> and satisfaction = #{satisfaction}</if>
        </where>
    </select>
    
    <select id="selectBoaEmpFeedbackById" parameterType="Integer" resultMap="BoaEmpFeedbackResult">
        <include refid="selectBoaEmpFeedbackVo"/>
        where id = #{id} and is_deleted=0
    </select>
        
    <insert id="insertBoaEmpFeedback" parameterType="BoaEmpFeedbackDO" useGeneratedKeys="true" keyProperty="id">
        insert into boa_emp_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="category != null">category,</if>
            <if test="feedbackText != null and feedbackText != ''">feedback_text,</if>
            <if test="satisfaction != null">satisfaction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="category != null">#{category},</if>
            <if test="feedbackText != null and feedbackText != ''">#{feedbackText},</if>
            <if test="satisfaction != null">#{satisfaction},</if>
         </trim>
    </insert>

    <update id="updateBoaEmpFeedback" parameterType="BoaEmpFeedbackDO">
        update boa_emp_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="category != null">category = #{category},</if>
            <if test="feedbackText != null and feedbackText != ''">feedback_text = #{feedbackText},</if>
            <if test="satisfaction != null">satisfaction = #{satisfaction},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBoaEmpFeedbackById" parameterType="Integer">
        delete from boa_emp_feedback where id = #{id}
    </delete>

    <delete id="deleteBoaEmpFeedbackByIds" parameterType="String">
        delete from boa_emp_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>